{% load static %}
{% block content %}
{% include 'header.html' %}
        <div class="container border text-light border-5 mt-5 fs-5 bg-dark">
            <div class="row justify-content-center  ">
                <div class="col">
                    <form >
                        {% csrf_token %}
                        <div class="row g-5 border ">
                            <div class="col border">
                                <p><b>Name</b></p>
                            </div>
                            <div class="col border">
                                <p><b>Phone</b></p>
                            </div>
                            <div class="col ">
                                <p align="right"><b>Email</b></p>
                            </div>
                            <div class="col">

                            </div>
                        </div>
                        {% for i in res %}
                        
                        <div class="row g-5 border ">
                            <div class="col">
                                <p>{{i.name}}</p>
                            </div>
                            <div class="col">
                                <p>{{i.phone}}</p>
                            </div>
                            <div class="col">
                                <p>{{i.email}}</p>
                            </div>
                            <div class="col">
                                <a href="{}" ><img src="{% static 'img/icons8-pencil-64.png' %}" style="height: 20px;width:20px;"></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'deleteuser' id=i.id %}" ><img src="{% static 'img\icons8-delete-trash-64.png' %}" style="height: 20px;width:20px;"></a>
                              </div>
                        </div>
                        {% endfor %}


                    </form>
                </div>
            </div>
        </div>
    <!-- Contact End -->
{% include 'footer.html' %}
{% endblock %}