{% include 'header.html' %}
    {% load static %}
    {% block content %}
    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 mb-5 hero-header">
        <div class="container py-5">
            <div class="row justify-content-start">
                <div class="col-lg-6 col-md-6 text-center text-lg-start">
                    <h1 class="display-1 text-uppercase text-white mb-4">Contacts</h1>
                    <h1 class="text-uppercase text-white">The Best Contact lists</h1>
                    <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">
                    <a href="" class="btn btn-primary border-inner py-3 px-5 me-5">Contact</a>
                </div>
               
            </div>
        </div>
    </div>
    
    <!-- Hero End -->
{% include 'footer.html' %}
{% endblock %}