{% load static %}
{% block content %}
{% include 'header.html' %}
    <!-- Contact Start -->
    <div class="container-fluid contact position-relative px-5" style="margin-top: 90px;">
        <div class="container">
            <div class="row g-5 mb-5">
                <div class="col-lg-4 col-md-6">
                    <div class="bg-primary border-inner text-center text-white p-5">
                        <i class="bi bi-geo-alt fs-1 text-white"></i>
                        <h6 class="text-uppercase my-2">Our Office</h6>
                        <span>123 Street, New York, USA</span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="bg-primary border-inner text-center text-white p-5">
                        <i class="bi bi-envelope-open fs-1 text-white"></i>
                        <h6 class="text-uppercase my-2">Email Us</h6>
                        <span>info@example.com</span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="bg-primary border-inner text-center text-white p-5">
                        <i class="bi bi-phone-vibrate fs-1 text-white"></i>
                        <h6 class="text-uppercase my-2">Call Us</h6>
                        <span>+012 345 6789</span>
                    </div>
                </div> 
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <form method="POST" action="updateuser/{{res.id}}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <input  type="text" class="form-control bg-light border-0 px-4" placeholder="Your Name" style="height: 55px;" name="name" value="{{res.name}}">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control bg-light border-0 px-4" placeholder="Your Age" style="height: 55px;"name="age" value="{{res.age}}">
                            </div>
                            <div class="col-sm-6">
                                <input type="number" class="form-control bg-light border-0 px-4" placeholder="phone number" style="height: 55px;"name="phone" value="{{res.phone}}">
                            </div>
                            <div class="col-sm-6">
                                <input  type="email" class="form-control bg-light border-0 px-4" placeholder="email id" style="height: 55px;"name="email" value="{{res.email}}">
                            </div>
                            <div class="col-sm-6">
                                <input  type="file" class="form-control bg-light border-0 px-4" style="height: 55px;" name="image" value="{{res.file}}">
                            </div>
                            <div class="col-sm-6">
                                <input type="password" class="form-control bg-light border-0 px-4" placeholder="password" style="height: 55px;"name="password" value="{{res.password}}">
                            </div>
                            <div class="col-sm-12">
                                <a ><button class="btn btn-primary border-inner w-100 py-3" type="submit">Update</button></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
{% include 'footer.html' %}
{% endblock %}